#code {
  background: #dbdada;
  border: 1px solid #555;
  border-radius: 8px;
  width: 90%;
  margin-left: 5%;
  overflow: auto;
  padding-left: 10px;
  text-underline-position: below;
  font-size: 17px;
  font-family: monospace;
}
#llamada {
  text-align: center;
  color: green;
}
#llamada2 {
  margin-left: 5%;
}
#subtitulo {
  text-align: center;
}
#code:hover {
  transform: scale(1.1);
}
